/*==========================================================================
  #COLOR
  ========================================================================== */

$color-primary: #2942b6 !default;
$color-secondary: #bb1f39 !default;
$color-cta: #03a103 !default;

$color-alert: #ca1010 !default;
$color-warning: #e4cf18 !default;
$color-success: #15920a !default;
$color-info: #2d88f0 !default;

$color-palette: (
	// Main Colors
	primary: $color-primary,
	secondary: $color-secondary,
	cta: $color-cta
) !default;

$alert-colors: (
	// Alert Colors
	alert: $color-alert,
	warning: $color-warning,
	success: $color-success,
	info: $color-info
) !default;

// Allow the colours in the palette to be accessed in an array like fashion
// e.g. color: color(primary);
@function color($key) {
	@if map-has-key($color-palette, $key) {
		@return map-get($color-palette, $key);
	} @else {
		@error 'given $key is not available in $color-palette';
	}
}

// Allow the colours in the palette to be accessed in an array like fashion
// e.g. color: alert-color(warning);
@function alert-color($key) {
	@if map-has-key($alert-colors, $key) {
		@return map-get($alert-colors, $key);
	} @else {
		@error 'given $key is not available in $alert-colors';
	}
}
