/*==========================================================================
  #COLOR
  ========================================================================== */

$color-palette: (
	// Main Colors
	primary:                  #2942b6,
	secondary:                #bb1f39,

	// Alert Colors
	alert:                    #ca1010,
	warning:                  #e4cf18,
	success:                  #15920a,
	info:                     #2d88f0,

	// Grey Tones
	black:									#0a0a0a,
	dark-grey:								#111111,
	medium-grey:							#848484,
	light-grey:								#cccccc,
	white:									#fefefe,
) !default;

// Allow the colours in the palette to be accessed in an array like fashion
// e.g. color: color(primary);
@function color($key) {
	@if map-has-key($color-palette, $key) {
		@return map-get($color-palette, $key);
	}
	@else {
		@error 'given $key is not available in $color-palette';
	}
}
