// Reassign `$inuit-global-spacing-unit` to `$global-spacing`.
$global-spacing: $inuit-global-spacing-unit;
$global-spacing-tiny: $inuit-global-spacing-unit-tiny;
$global-spacing-small: $inuit-global-spacing-unit-small;
$global-spacing-large: $inuit-global-spacing-unit-large;
$global-spacing-huge: $inuit-global-spacing-unit-huge;
