// Reassign `$inuit-global-spacing-unit` to `$mb-spacing`.
$mb-spacing: $inuit-global-spacing-unit;
$mb-spacing-tiny: $inuit-global-spacing-unit-tiny;
$mb-spacing-small: $inuit-global-spacing-unit-small;
$mb-spacing-large: $inuit-global-spacing-unit-large;
$mb-spacing-huge: $inuit-global-spacing-unit-huge;
